* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-----------TAG-----------*/
/*-----------TAG-----------*/

body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
} 

footer {
    background-color: black;
    color: white;
}

h1 {
  font-size: 77px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 25px;
}

h4, h5 {
  font-size: 16px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/*-----------LAYOUT-----------*/
/*-----------LAYOUT-----------*/

.container-large {
    max-width: 1367px;
    width: 100%;
    margin: auto;
}

.container {
    max-width: 1010px;
    width: 100%;
    margin: auto;
    padding-top: 150px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

[class*="col_"] {
    float: left;
}

.col_1_9 {
    width: calc(100% / 9);
}

.col_2_9 {
    width: calc(100% / 9 * 2);
}

.col_3_9 {
    width: calc(100% / 9 * 3);
}

.col_4_9 {
    width: calc(100% / 9 * 4);
}

.col_5_9 {
    width: calc(100% / 9 * 5);
}

.col_6_9 {
    width: calc(100% / 9 * 6);
}

/*-----------UTILITIES-----------*/
/*-----------UTILITIES-----------*/

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.button-blue {
    color: white;
    background-color: #0061ff;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    transition: 0.5s;
}

.button-blue:hover {
    background-color: #0d2481;
    box-shadow: 0 5px #0061ff;
}

.button-white {
    color: black;
    background-color: white;
    border: 1px solid black;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    transition: 1s;
}

.button-white:hover {
    box-shadow: 0 5px #0061ff;
}

.bg-green {
    background-color: #a2d39b;
    border: 10px solid #d0e9cd
}

.bg-purple {
    background-color: #61082b;
}

.bg-blue {
    background-color: #0093ce;
}

.bg-red {
    background-color: #ff1c1c;
}

.bg-wine {
    background-color: #d5001f;
}

.bg-sky {
    background-color: #b4d0e7;
}

.bg-sea {
    background-color: #0d2481;
}

.bg-yellow {
    background-color: #ffd830;
}

/*-----------CLASSES-----------*/
/*-----------CLASSES-----------*/

/*---HEADER---*/

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: white;
    z-index: 99;
    border-bottom: 1px solid #a9a9a9;
}

nav li img {
    min-height: 20px;
    vertical-align: middle;
}

nav ul li {
    display: inline-block; 
    padding: 0 10px;   
}

nav ul li a {
    color: black;
    display: inline-block;
}

nav ul li a:not(.button-blue):hover {
    color: #0061ff;
}

.nav-sx {
    float: left;
}

.nav-dx {
    float: right;
}

.hero-bg {
    background-color: #b4d0e7;
    margin-top: 46px;
}

.hero-bg h1 {
    padding-bottom: 20px;
}

.hero-bg p{
    padding: 30px 0;
}

.hero-bg h2 {
    animation: arrow-move 2s linear infinite;
} 

@keyframes arrow-move {
    0%{
        transform: translateY(0px);
    }
    25%{
        transform: translateY(20px);
    }
    50%{
        transform: translateY(40px);
    }
    75%{
        transform: translateY(20px);
    }
    100%{
        transform: translateY(0px);
    }
} 

header .container-large {
    transform: translateY(100px);
}

/*---MAIN---*/

.row .col_3_9 {
    padding: 20px;
}

.neg-margin {
    margin-left: -20px;
    margin-right: -20px;
}

.offer form {
    padding: 40px 0 30px;
}


form label {
    padding: 0 20px 0 5px;
}

.border-height {
    border: 1px solid #a9a9a9;
    min-height: 1000px;
}

.col-title {
    text-align: center;
    border-bottom: 1px solid #a9a9a9;
    padding: 10px 0;
}

.col-text {
    padding: 15px;
}

.col-text h4 {
    padding: 10px 0;
}

.grey {
    color: #a9a9a9;
    padding-bottom: 20px;
}

.col-text li {
    padding: 10px 0;
    padding-left: 22px;
}

.col-text li i {
    margin-left: -22px;
}

.col-text .button-blue {
    display: block;
    width: 100%;
    text-align: center;
    margin: 20px 0;
}

.col-text p a {
    color: #0061ff;
}

.col-text hr {
    margin: 20px 0;
    border: 1px solid #a9a9a9;
    width: 20%;
}

.col-text h5 {
    padding-bottom: 20px;
}

.fa-check {
    color: #0061ff;
} 

.border-margin {
    border: 1px solid #a9a9a9;
    margin: 50px 0px 100px;
}

.border-margin .row {
    padding: 20px;
}

.border-margin .col_3_9 {
    padding: 0;
}

.border-margin h3 {
    padding-bottom: 20px;
}

.border-margin h4 {
    padding-bottom: 20px;
}

.border-margin .button-blue {
    width: 100%;
}

.partners img {
    max-width: 100%;
}

.partners .col_4_9 {
    padding-left: 20px;
}

.partners h3, .partners p {
    padding: 20px 0 20px;
}

.partners a {
    margin-top: 20px;
}

.operations {
    margin-top: 100px;
    margin-bottom: 100px
}

.operations .col_3_9{
    padding-top: 80px;
}

.operations img {
    max-width: 100%;
}

.operations h3 {
    padding: 20px 0 40px;
}

.i-saw-you {
    text-decoration: underline;
}

.box-title h2{
    max-width: 57%;
}

.box-title a {
    display: inline-block;
    color: #0061ff;
    text-decoration: underline;
    padding: 40px 0 40px;
}

.box-container {
    background-color: #f5f5f5;
}

.box-container-aside {
    float: left;
    width: 30%;
}

.single-box {
    float: left;
    width: 50%;
    height: calc(30vw / 2);
    text-align: center;
}

.single-box img {
    width: 50%;
    height: 100%;
    filter: invert(1);
}

.bg-blue img {
    height: 10%;
    position: relative;
    top: calc(50% - 23.4px / 2);
}

.box-container-center {
    float: left;
    width: 40%;
    padding: 40px;
    max-height: 30vw;
    overflow-y: auto;
}

.box-container-center img {
    width: 30%;
}

.box-container-center hr {
    width: 10%;
    border: 1px solid #a9a9a9;
    margin-top: 40px;
    margin-bottom: 40px;
}

.author {
    padding-top: 40px;
}

.bg-sky .container {
    padding-bottom: 150px;
}

.bg-sky h2 {
    color: #61082b;
}

.bg-sky .col_4_9 {
    text-align: right;
}

.bg-sky a {
    border: none;
    padding: 10px 30px;
}

.freq {
    margin-bottom: 100px;
}

.freq h3 {
    padding-bottom: 40px;
}

.freq .row {
    border-top: 1px solid #a9a9a9;
    padding: 20px 0;   
}

.freq .row:last-child {
    border-bottom: 1px solid #a9a9a9;
}

.freq .col_3_9 {
    padding: 0 20px 0 0;
    text-align: right;
}

.freq p {
    padding-top: 40px;
    display: none;
}

.freq .row:active p {
    display: block;
}

footer .container {
    padding: 80px 0 40px;
}

footer ul {
    width: 20%;
    float: left;
}

footer h5 {
    padding: 10px 0;
}

footer a {
    color: white;
    font-size: 13px;
    padding: 10px 0;
}

footer hr {
    width: 10%;
    color: white;
    margin-bottom: 40px;
}

footer select {
    color: #a9a9a9;
    background-color: black;
    border: none;
    font-size: 12px;
}

.fa-globe-americas {
    color: #a9a9a9;
}
